[submodule "services/prusa_mcp_server/prusa-mcp"]
	path = services/prusa_mcp_server/prusa-mcp
	url = https://github.com/gioelemo/prusa-mcp.git
[submodule "thesis"]
	path = thesis
	url = https://github.com/gioelemo/ETH_Zurich_IDEAL_Gioele_Thesis.git
[submodule "paper"]
	path = paper
	url = https://github.com/gioelemo/EngiAI-Paper.git
[submodule "src/ui/components/excalidraw"]
	path = src/ui/components/excalidraw
	url = https://github.com/gioelemo/streamlit-excalidraw.git
