[submodule "thesis"]
	path = thesis
	url = https://github.com/gioelemo/ETH_Zurich_IDEAL_Gioele_Thesis.git
[submodule "paper-revision"]
	path = paper-revision
	url = https://github.com/gioelemo/EngiAI-Paper-IDETC-Revision.git
[submodule "EngiAI---arXiv"]
	path = EngiAI---arXiv
	url = https://github.com/gioelemo/EngiAI---arXiv.git
